@model WebApp.ViewModels.CodeHistoryViewModels

@{
    ViewData["Title"] = "History";
}

<h2>History</h2>
<style>
    input[type=radio],
    input[type=checkbox] {
        /* Hide original inputs */
        visibility: hidden;
        position: absolute;
    }

        

    .titlecode {
        font-size: 18px;
        color: #808080;
    }

        .titlecode:hover {
            cursor: pointer;
            color: #ffd800;
        }

    .code-example {
        border: 1px solid #cacaca;
        padding: 12px;
    }

    #date, #collapsecontent {
        color: #808080;
        font-size: 12px;
    }

    #output {
        border: 1px groove #ff6a00;
    }
</style>
<hr />

@for (var i = 0; i < Model.CodeHistory.Count(); i++)
{
    <table style="width:100%" >
    <div></div>
    <tr style="width:100%" class="col-12">
        @Html.HiddenFor(x => Model.CodeHistory[i].Id)
        <td>
            <p data-id="@Model.CodeHistory[i].Id" id="@Model.CodeHistory[i].Id" class="form-control titlecode" readonly>@*@Model.CodeHistory[i].UserCode.User.UserName*@</p>
        </td>
        <td>
            <p><textarea data-id="@Model.CodeHistory[i].Id" id="@Model.CodeHistory[i].Id" class="form-control code-example" rows="15">@Model.CodeHistory[i].CodeText</textarea></p>
        </td>
        <td>
            <div class="checkbox_wrapper">
                <input data-id="@Model.CodeHistory[i].Id" id="icon" value="@Model.CodeHistory[i].IsFavouriteCode" type="checkbox" />
                <label data-id="@Model.CodeHistory[i].Id" for="icon" class="glyphicon glyphicon-heart"></label>
            </div>

        </td>
        <div></div>
    </tr></table>
}
<hr />









@section Scripts{
    <script>
        //var flag = false;
        //$(document).ready(function () {
           
            
        //    //$(".glyphicon").click(function () {
        //    //    var $this = $(".glyphicon"),
        //    //        id = $this.data('id'),
        //    //        flag = !flag;
        //    //    $.ajax({
        //    //        type: "POST",
        //    //        url: "/CodeHistory/setFav",
        //    //        data: id,flag,
        //    //        success: function (data) {
        //    //            $(".glyphicon").html(data);
        //    //        }
        //    //    });
        //    //});
        //});
        $(document).on('click', '.titlecode', function (e) {
            console.log("wdwddwwddw");
            e.preventDefault();
            var $this = $(this),
                parent = $this.parents('tr'),
                showHideEl = parent.find('.code-example');

            showHideEl.toggle();
        });

        
        
        


    </script>
}
