@using Microsoft.AspNetCore.Identity
@model WebApp.ViewModels.ChangeRoleViewModel

<h2>Изменение ролей</h2>
<h3>роли которые есть у пользователя @Model.UserEmail</h3>
<ul>
    @foreach (var role in Model.UserRoles)
    {
    <li>@role</li>
        
    }
</ul>
<br />
<form asp-action="Users" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
            }
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>