@using Microsoft.AspNetCore.Mvc.Localization
@model Model.DTO.CodeDTO.UserCodeDTO
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedRes> SharedLocalizer

<style type="text/css">
</style>


<div class="row block2">

    <div>
        <div class="col-md-12">
            <div class="row" style="height: 100%; padding: 20px; border-color: black; border: 1px solid; background-color: white">
                <div class="col-md-12">
                    <div class="row" style="padding: 10px">@SharedLocalizer["Exercisetitle"]: @Model.Exercise.TaskName</div>
                    <div class="row" style="padding: 10px">@SharedLocalizer["Task"]: @Model.Exercise.TaskTextField</div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-9">
                    <textarea id="codeText" class="col-md-12 textField" style="height: 100%; width: 100%; "></textarea>


                </div>
                <div class="col-md-3" style="height: 650px">
                    <textarea id="result" style="padding: 10px; border-color: black; border: 1px solid; height: 100%; width: 100%; background-color: white" readonly="readonly"></textarea>
                    <br />
                    <br />
                    <button type="button" id="executeButton" class="btn btn-default"> @SharedLocalizer["Execute"] </button>
                    @*<button type="button" id="reloadButton" class="btn btn-default"> @SharedLocalizer["Reload"] </button>*@
                    <button type="button" id="exit" class="btn btn-default" onclick='location.href = "@Url.Action("Index","Home")"'> @SharedLocalizer["Exit"] </button>

                </div>

            </div>
            <br />
            <button type="button" id="done" class="btn btn-default"> Done </button>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="~/css/codemirror.css" />
    <script src="~/js/codemirror.js"></script>
    <script src="~/js/matchbrackets.js"></script>
    <script src="~/js/continuecomment.js"></script>
    <script src="~/js/clike.js"></script>
    <script>
        $(document).ready(function() {
            $('#codeText').html('@Model.CodeText');
        });


        var editableCodeMirror = null;
        window.onload = function () {
            editableCodeMirror = CodeMirror.fromTextArea(document.getElementById('codeText'), {
                mode: "htmlmixed",
                theme: "default",
                lineNumbers: true
            });

            editableCodeMirror.on('change', function () {  //(cMirror)
                $('#result').html('');
                // get value right from instance
                //console.log(cMirror.getValue());
                console.log("Starteeed")

                var userCode = new Object();
                userCode.CodeText = editableCodeMirror.getValue();
                userCode.ExerciseId = ('@Model.ExerciseId');
                userCode.UserId = ('@Model.UserId');

                $.ajax({
                    type: "POST",
                    url: "/Code/GetCode",
                    data: userCode,
                    success: function (data) {
                        $("#result").html(data);
                    }
                });
            });


            editableCodeMirror.setOption("mode", "text/x-csrc");
            console.log("Test2");

        };
        $('#done').click(
            function () {

                var model = new Object();
                model.CodeText = editableCodeMirror.getValue();
                model.UserId =('@Model.UserId');
                model.ExerciseId = ('@Model.ExerciseId');

                $.ajax({

                    type: "POST",
                    url: "/Code/SetCodeStatus",
                    data: model
                });
            });


        $('#reloadButton').click(function () {

            editableCodeMirror.setValue('@Model.CodeText');
        });

        $('#executeButton').click(
            function () {
                $('#result').html('');
                console.log("start");

                var userCode = new Object();
                userCode.CodeText = editableCodeMirror.getValue();
                userCode.ExerciseId = ('@Model.ExerciseId');
                userCode.UserId = ('@Model.UserId');

                $.ajax({
                    type: "POST",
                    url: "/Code/GetCode",
                    data: userCode,
                    success: function(data) {
                        $("#result").html(data);
                    }
                });

            }
        );



    </script>
}

