@model Model.DTO.CodeDTO.UserCodeDTO
<link rel="stylesheet" href="css/codemirror.css" />
<script src="js/codemirror.js"></script>
<script src="js/matchbrackets.js"></script>
<script src="js/continuecomment.js"></script>
<script src="js/clike.js"></script>
<style type="text/css">
    .block1 {
        width: 100%;
        background: #ccc;
        height: 100px;
    }

    .block2 {
        width: 100%;
        height: 100%;
    }
</style>


<div class="row block2">

    <div>
        <div class="col-md-12">
            <div class="row" style="height: 200px; padding: 30px">
                <div class="col-md-12">
                    <div class="row" style="padding: 20px">Exercise name: @Model.Exercise.TaskName</div>
                    <div class="row" style="padding: 20px">Exercise point: @Model.Exercise.TaskTextField</div>
                </div>
            </div>
            <div>
                <div class="row" style=" height: 500px">
                    <div class="col-md-12">
                        <textarea id="codeText" class="col-md-12" style="height: 400px; width: 100%; margin: 10px">@Model.CodeText</textarea>
                        <button type="button" id="executeButton" class="btn btn-default"> Execute </button>

                    </div>
                </div>
            </div>
            <div class="row" style=" height: 100px; width: 100%">
                <div id="result" style="padding: 10px; border-color: black; border: 1px solid; height: 100%"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#executeButton').onchange(
            function () {
                console.log("start");

                var userCode = new Object();
                userCode.CodeText = $('#codeText').val();
                userCode.ExerciseId = ('@Model.ExerciseId');
                userCode.UserId = ('@Model.UserId');

                $.ajax({
                    type: "POST",
                    url: "/Code/GetCode",
                    data: userCode,
                    success: function (data) {
                        $("#result").html(data);
                    }
                });

            }
        )
        
        window.onload = function () {
            var editableCodeMirror = CodeMirror.fromTextArea(document.getElementById('codeText'), {
                mode: "text/x-csrc",
                theme: "default",
                lineNumbers: true
            });

        };
    </script>
}

