@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedRes> SharedLocalizer

@model WebApp.ViewModels.CreateExerciseViewModel;
@{
    ViewBag.Title = "Add Task";
}
<script src="~/js/katex.min.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/highlight.min.js"></script>
<script src="~/js/quill.js"></script>

<link href="~/css/monokai-sublime.min.css" rel="stylesheet" />
<link href="~/css/katex.min.css" rel="stylesheet" />
<link href="~/css/quill.bubble.css" rel="stylesheet" />
<link href="~/css/quill.snow.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/site.css" />

<form asp-action="Create" asp-controller="ExerciseManagement" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">

        <label class="control-label">@SharedLocalizer["CourseName"] *</label>
        <select id="CourseId" , asp-items="@(new SelectList(Model.CourseList, "Id" , "Name"))" class="form-control" required></select>
        <label class="control-label">@SharedLocalizer["TaskName"] *</label>
        <input id="TaskName" type="text" class="form-control" required />
    </div>
    <div class="form-group">
        <label class="control-label">@SharedLocalizer["Task"]:</label>
        <div id="editor-container" class="form-control"></div>
    </div>
    <label class="control-label">@SharedLocalizer["BaseCode"]:</label>
    <textarea id="TaskBaseCodeField"  class="col-md-12" style="height: 400px; width: 100%;"></textarea>

    <div class="form-group">
        <button id="save" class="btn btn-default">@SharedLocalizer["Add"]</button>
    </div>
</form>


<br />
<h6>@SharedLocalizer["Required"]</h6>

<script>
    var quill = new Quill('#editor-container', {
        modules: {
            toolbar: [
                [{ header: [1, 2, false] }],
                ['bold', 'italic', 'underline'],
                ['image', 'code-block']
            ]
        },
        placeholder: 'Compose an epic...',
        theme: 'snow'
    });

    $('#save').click(function () {
        var taskContent = new Object();
        taskContent.TaskTextField = quill.getText();
        taskContent.CourseId = $('#CourseId').val();
        taskContent.TaskName = $('#TaskName').val();
        taskContent.TaskBaseCodeField = $('#TaskBaseCodeField').val();

        $.ajax({

            type: "POST",
            url: "/ExerciseManagement/Create",
            data: taskContent
        });

    });
</script>