@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedRes> SharedLocalizer

@model Model.DTO.ExerciseDTO
@{
    ViewBag.Title = "Task View";
}
<form asp-action="TaskView" asp-controller="ExerciseManagement">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <input type="text" asp-for="TaskName" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="TaskTextField" class="control-label">@SharedLocalizer["Task"]:</label>
        <input type="text" asp-for="TaskTextField" class="form-control" readonly />
    </div>
    <div>
        <div class="form-group col-md-2">
            <input value="@SharedLocalizer["Ok"]" onClick="history.go(-1)" ; class="btn btn-default" />
        </div>
        
    </div>
</form>
<div class="col-md-2">
    <form asp-controller="Code" asp-action="Index">
        <input type="hidden" name="UserId" value="@User.Identity.Name"/>
        <input type="hidden" name="ExerciseId" value="@Model.Id"/>
        <input type="hidden" name="CodeText" value="@Model.TaskBaseCodeField"/>
        <button type="submit" class="btn btn-default">Start</button>
    </form>
</div>