@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedRes> SharedLocalizer

@model WebApp.ViewModels.UpdateExerciseViewModel;
@{
    ViewBag.Title = "Task View";
}
<form asp-action="Update" asp-controller="ExerciseManagement">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="CourseId" class="control-label">@SharedLocalizer["CourseName"] *</label>
        <select asp-for="CourseId" asp-items="@(new SelectList(Model.CourseList, "Id" , "Name"))" class="form-control" required></select>
        <label asp-for="TaskName" class="control-label">@SharedLocalizer["TaskName"] *</label>
        <input type="text" asp-for="TaskName" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="TaskName" class="control-label">@SharedLocalizer["Task"]:</label>
        <input type="text" asp-for="TaskString" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-default" />
    </div>
</form>

<br />
<h6>@SharedLocalizer["Required"]</h6>