@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedRes> SharedLocalizer

<div style="margin-bottom:20px;"></div>
<a asp-action="Users">@SharedLocalizer["UsersLst"]</a>

<h2>@SharedLocalizer["RolesLst"]</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        @SharedLocalizer["Delete"]
                    </button>
                </form>
            </td>
        </tr>
    }
    

</table>
<form>
    <button asp-action="CreateRole" method="post" class="btn btn-primary">@SharedLocalizer["AddNewRole"]</button>
</form>