@model WebApp.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "hanging password";
}
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedRes> SharedLocalizer

<h2>@SharedLocalizer["ChangeFor"]: @Model.Email</h2>
<form asp-action="ChangePassword" asp-controller="User">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
    <div class="form-group">
        <label asp-for="OldPassword" class="control-label">@SharedLocalizer["OldPassword"]</label>
        <input type="password" asp-for="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">@SharedLocalizer["NewPassword"]</label>
        <input type="password" asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword" class="control-label">@SharedLocalizer["ConfirmNewPassword"]</label>
        <input type="password" asp-for="ConfirmNewPassword" class="form-control" />
        <span asp-validation-for="ConfirmNewPassword"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-default" />
    </div>
</form>