@model WebApp.ViewModels.ChangeUserNameViewModel

@{
    ViewData["Title"] = "ChangeUserName";
}
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedRes> SharedLocalizer

<h2>@SharedLocalizer["ChangeUsername"]</h2>

<h4>@SharedLocalizer["YourName"] <b> @User.Identity.Name </b> </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeUserName">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewUserName" class="control-label">@SharedLocalizer["NewUserName"]</label>
                <input asp-for="NewUserName" class="form-control" />
                <span asp-validation-for="NewUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">@SharedLocalizer["Password"]</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value=@SharedLocalizer["Save"] class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

