@model Model.DTO.UserDTO

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedRes> SharedLocalizer
<table class="table">
    <tr><th>@SharedLocalizer["Email"]</th><th>@SharedLocalizer["Action"]</th><th></th></tr>
        <tr>
            <td>@Model.Email </td>
            <td>
                <form method="post">
                    <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@Model.Id">@SharedLocalizer["ChangePassword"]</a>
                </form>
            </td>
        </tr>
</table>